<p>Dear {{ user.username }},</p>

<p>You're receiving this email because you requested a password reset for your user account at Community Service Portal</p>

<p>Please go to the following page and choose a new password:</p>

<p><a href="http://127.0.0.1:8000/resetr/{{ uid }}/{{ token }}">Reset Password</a></p>

<p>Your OTP token is: {{ otp_token }}</p>

<p>If you didn't request this change, you can ignore this email.</p>

<p>Your username, in case you’ve forgotten: {{ user.username }}</p>

<p>Thanks for using our site!</p>

<p>The Community Service team</p>