/* ModalStyles.css */
.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .ReactModal__Content {
    color: lightsteelblue;
    width: 50%;
    height: 60%;
    margin: auto;
    padding: 20px;
    border : 0;
    border-radius:0 ;
    /* border: 1px solid lightsteelblue;
    border-radius: 4px; */
  }