
.dropdown-toggle {
    background-color: transparent !important;
    color: white !important;
  }
  
  /* .dropdown-menu {
    background-color: transparent !important;
    color: white !important;
  }
   */